@import 'variables';
@import 'unit';

$button-sentiments: (
  primary: (
    color: $btn-primary-text,
    background: $btn-primary-bg,
    background-hover: $btn-primary-bg-hover,
    background-active: $btn-primary-bg-active,
    background-disabled: $btn-primary-bg-disabled,
    box-shadow: $btn-primary-box-shadow,
    box-shadow-active: $btn-primary-box-shadow-active,
    box-shadow-disabled: $btn-primary-box-shadow-disabled
  )
);

@mixin button-states($sentiment-styles) {

  &:hover {
    background: map-get($sentiment-styles, background-hover);
  }
  &:active:not([disabled]) {
    background: map-get($sentiment-styles, background-active);
    box-shadow: map-get($sentiment-styles, box-shadow-active);
    transition: all 100ms ease-in-out;
  }

}

//////////////////////////////////////////////////

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  padding: rem-calc(16 32);
  border-radius: rem-calc(16);
  cursor: pointer;
  user-select: none;
  border-style: none;
  -webkit-tap-highlight-color: transparent;

  @each $sentiment, $sentiment-styles in $button-sentiments {

    &--#{$sentiment} {
      font-size: rem-calc(20);

      color: map-get($sentiment-styles, color);
      stroke: map-get($sentiment-styles, color);

      box-shadow: map-get($sentiment-styles, box-shadow);
      background: map-get($sentiment-styles, background);
      @include button-states($sentiment-styles);

      &:disabled {
        background: map-get($sentiment-styles, background-disabled);;
        box-shadow: map-get($sentiment-styles, box-shadow-disabled);;
        cursor: default;
      }

    }
  }

  &__icon-wrapper {
    &.has-margin {
      margin-right: rem-calc(8);
    }
  }

  app-svg-play, app-svg-arrow, app-svg-restart {
    width: rem-calc(24);
    height: rem-calc(24);
  }

}
