<h1 style="margin: 1rem 0; padding: 1rem; color: dodgerblue">Quiz</h1>
<hr>

<h3 style="margin: 1rem 0; padding: 1rem; color: dodgerblue">Quiz with 100% width</h3>
<div class="quiz-container">
  <ngx-quiz [quiz]="quiz"></ngx-quiz>
</div>

<br>
<br>
<br>

<h3 style="margin: 1rem 0; padding: 1rem; color: dodgerblue">Quiz with defined width and height</h3>
<div class="quiz-container" style="width: 960px; height: 540px; margin: auto">
  <ngx-quiz [quiz]="quiz"></ngx-quiz>
</div>


<h3 style="margin: 1rem 0; padding: 1rem; color: dodgerblue">Quiz with defined height and exaggerated width</h3>
<div class="quiz-container" style="width: 1500px; height: 540px; margin: auto">
  <ngx-quiz [quiz]="quiz"></ngx-quiz>
</div>

<br>
<br>
<br>

<h3 style="margin: 1rem 0; padding: 1rem; color: dodgerblue">Quiz with defined width and exaggerated height</h3>
<div class="quiz-container" style="width: 960px; height: 1200px; margin: auto">
  <ngx-quiz [quiz]="quiz"></ngx-quiz>
</div>

<br>
<br>
<br>


<footer style="margin-top: 5rem">
  End
</footer>
